{% extends 'admin/master.html' %}

{% block body %}
<div class="jumbotron">
    <title>Upload new File</title>
    <h1>Upload new File</h1>
    <div class="container">
        <form action='' method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="dataname">Database Name</label>
                <input style="color: black;" type="text" id="dataname" name="dataname", placeholder="Database name">
            </div>
            <div class="form-group">
                <input type='file' name='file[]' multiple class="btn btn-lg" style="padding: 0px;">
            </div>
            <div class="form-group">
                <input type='submit' value='Upload' class="btn btn-primary">
            </div>
        </form>
        <p>Please Train on the Database after creation.</p>
    </div>
</div>
{% endblock %}