{% extends 'admin/master.html' %}

{% block body %}
<div class="jumbotron">
  <h1>How To Use</h1>
  <div class="container">
    <ul style="font-size: 22px;">
      <li>Create a <span style="color: #B993D6;">new Database</span> from the option available in the NavBar.</li>
      <li>Make sure to <span style="color: #B993D6;">Train on your Database</span> before using it with the application.</li>
      <li>To view your <span style="color: #B993D6;">previously created databases</span> go to 'Select Database' from NavBar.</li>
      <li>Single entries can be Added/Deleted from inside the 'Select Database' option.</li>
      <li>After training of the Database, It is ready to use with the application.</li>
      <li>To fetch the attendance after the whole procedure just select the corresponding database from 'Select Database' and entires will be marked as present or absent.</li>
    </ul>
  </div>
</div>
{% endblock body %}