{% extends 'admin/master.html' %}

{% block body %}
<div class="jumbotron">
  <h1>Choose a Database</h1>
  <div class="container">
    <form action="" method="POST">
      <label for="database-select" style="margin-bottom: 5px; font-size: large;">Databases</label>
      <div class="form-group">
        <select style="color: black;" size="1.5em" name = "database-select" id="database-select">
          <option aria-setsize="1.5em" value="">--Please choose an option--</option>
          {% for table in tables %}
          <option value="{{table}}">{{table}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-example">
        <input type="submit" value="Submit" class="btn btn-primary">
      </div>
    </form>
  </div>
</div>
{% endblock %}