{% extends 'admin/master.html' %}

{% block body %}
<div class="jumbotron">
  <h1>Train the Database</h1>
  <div class="container">
    <form action="" method="POST">
      <label style="margin-bottom: 5px; font-size: large;" for="database-select">Choose a Database</label>
      <select size="1.5em" name = "database-select" id="database-select">
        <option value="">--Please choose an option--</option>
        {% for table in tables %}
        <option value="{{table}}">{{table}}</option>
        {% endfor %}
      </select>
      <div class="form-example">
        <input type="submit" value="Submit">
      </div>
    </form>
  </div>
</div>
{% endblock %}